<html>
  <head>
    <title>Upload Samples</title>
    <button onclick="redirectHome()">Back To Home</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script type="text/javascript">
      function send_file() {
        var sampleFile = document.getElementById("sampleFile").files[0].name
        var sampleName = $("#sampleName").val();
        var sampleGenre = $("#genre").val();
        var sampleCategory = $("#category").val();
        var sampleKey = $("#key").val();
        var sampleTempo = $("#tempo").val();

        var file_json = {
          "id": 0,
          "data": sampleFile,
          "name": sampleName,
          "genre": sampleGenre,
          "category": sampleCategory,
          "musickey": sampleKey,
          "tempo": sampleTempo
        };
        console.log(file_json);
        var url = "http://localhost:8080/uploadsample";
        $.ajax({
          type: "POST",
          url: url,
          data: file_json,
          async: true,
          success: function(msg) {
            alert("Successfully Uploaded Sample");
            redirectHome();
          }
        });
      }

      function redirectHome() {
        $(location).attr("href", "http://localhost:8080");
      }
    </script>
  </head>
  <body>
    <div>
      File: <input type="file" id="sampleFile" /> Sample Name:
      <input type="text" id="sampleName" />
      <select id="genre">
        <option value="">Genre</option>
        <option value="acoustic">Acoustic</option>
        <option value="ambient">Ambient</option>
        <option value="big room">Big Room</option>
      </select>
      <select id="category">
        <option value="">Category</option>
        <option value="accordion">Accordion</option>
        <option value="arpeggio">Arpeggio</option>
        <option value="bagpipe">Bagpipe</option>
      </select>
      <select id="key">
        <option id="">Key</option>
        <option value="a">A</option>
        <option value="am">Am</option>
        <option value="a#">A#</option>
        <option value="a#m">A#m</option>
        <option value="b">B</option>
        <option value="bm">Bm</option>
        <option value="c">C</option>
        <option value="cm">Cm</option>
        <option value="c#">C#</option>
        <option value="c#m">C#m</option>
        <option value="d">D</option>
        <option value="dm">Dm</option>
        <option value="d#">D#</option>
        <option value="d#m">D#m</option>
        <option value="e">E</option>
        <option value="em">Em</option>
        <option value="f">F</option>
        <option value="fm">Fm</option>
        <option value="f#">F#</option>
        <option value="f#m">F#m</option>
        <option value="g">G</option>
        <option value="gm">Gm</option>
        <option value="g#">G#</option>
        <option value="g#m">G#m</option>
      </select>
      Tempo (BPM):
      <input type="number" id="tempo" placeholder="BPM (eg. 120)" />
      <button onclick="send_file()">Upload Sample</button>
    </div>
  </body>
</html>
